body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #ddd;
    color: #2b2839;
    border-bottom: 15px solid #e01522;
    box-shadow: 2px 5px 20px;
    position: relative;
    border-radius:  30px 30px 60px 60px;
}

h4 {
    margin-top: 40px;
}

.italic {
    font-style: italic;
}

.mail {
    display: none;
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 150px;
    color: #e01522
}

div.hover-it:hover > .mail {
    display: block;
}